version: 2.1
orbs:
  cypress: cypress-io/cypress@1.15.0
workflows:
  build:
    jobs:
      - cypress/run:
          start: npm run dev
          wait-on: 'http://localhost:3000'
          # there are no jobs to follow this one
          # so no need to save the workspace files (saves time)
          no-workspace: true
          post-steps:
            # store the created coverage report folder
            # you can click on it in the CircleCI UI
            # to see live static HTML site
            - store_artifacts:
                path: coverage
            - run: npm run check-coverage-limits

